.image-car{
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  opacity: 10%;
  z-index: -2;

}

#sell{
  display: none;
}
.text{
  top: 100px;
  left: 60%;
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
}
.button {
  top: 10px;
  left: 60%;
  font-size: 40px;
  color: #ffffff;
  z-index: 1;
  background-color: transparent;
  border: 2px solid ;
  width:200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }

 .button {
    box-shadow: 0 8px 16px 0 rgba(1,1,1,1), 0 6px 20px 0 rgba(1,1,1,1);
}
 .button:hover {
    box-shadow: 0 12px 16px 0 rgba(1,1,1,1),0 17px 50px 0 rgba(1,1,1,1);
}
 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
ul{
  text-align: center;
  font-size: 50px;
}
#hash{
  color: #ffffff;
  font-size: 27px;
  transform: rotate(3deg);
}
#cars{ 
  position: fixed;
  color: #ffffff;
  top:80%;
  left: 80%;

}
.sym{
  font-size: 60px;
}